:root {
  --main-font: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
}

/* COMPTONENTS */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* END COMPONENTS */
/* HEADER */
header {
  position: absolute;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #000000;
}

/* .shadow-header {
  position: absolute;
  z-index: 0;
  background: #000000;
  opacity: 0.1;
  filter: blur(20px);
  height: 50px;
  width: 100%;
} */

header > .container {
  z-index: 1;
  /* position: absolute; */
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

.modal-button-header {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #3d8be4;
  border: 1px solid #3d8be4;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #fff;
  padding: 5px 35px;
}
.nav-list {
  display: flex;
}

.nav-list-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #000000;
}

/* .nav-list-item-link:focus,
.nav-list-item-link:hover {

} */

.nav-list-item:not(:last-child) {
  margin-right: 45px;
}

.icon-tel,
.icon-notifications {
  width: 24px;
  height: 24px;
}

.icon-tel {
  margin-right: 10px;
}

.icon-notifications {
  margin-right: 25px;
}

.tel {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #000000;
}

.profile-pic {
  margin-right: 7px;
}
.profile-header {
  display: flex;
  align-items: center;
}

.profile-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #000000;
}

.profile-button {
  width: 9px;
  height: 5px;
}

address {
  display: flex;
  justify-content: center;
}
/* END HEADER */
/* HERO */
.hero-section > .container {
  padding-left: 200px;
  padding-right: 20px;
}

.hero-section {
  position: relative;
  padding-top: 200px;
  padding-bottom: 40px;
}

.left-part-hero {
  max-width: 750px;
}

.hero-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 20px;
}

.hero-title {
  font-weight: 700;
  font-size: 55px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 40px;
}

.modal-buttons-list {
  display: flex;
}

.left-modal-button-hero {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding: 20px 35px;
  background-color: #3d8be4;
  border: 1px solid #3d8be4;
  border-radius: 6px;
  margin-right: 40px;
  cursor: pointer;
}

.right-modal-button-hero {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #3d8be4;
  padding: 20px 35px;
  background-color: #ffffff;
  border: 1px solid #3d8be4;
  border-radius: 6px;
  cursor: pointer;
}

.scene {
  position: absolute;
  /* padding-left: 124px;
  padding-top: 136px;
  padding-right: 85px; */
  width: 630px;
  height: 415px;
  border: 1px dashed #e5e5e5;
  box-sizing: border-box;
  border-radius: 12px;
  top: 193px;
  left: 830px;
  margin-bottom: 120px;
}

.icon-hero-scene {
  position: relative;
  width: 420px;
  height: 324px;
  top: 136px;
  left: 125px;
}

.buttom-part-list-hero {
  position: absolute;
  display: flex;
  left: 830px;
  top: 730px;
}

.buttom-part-list-hero-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttom-part-list-hero-item:not(:last-child) {
  margin-right: 108px;
}

.buttom-part-list-hero-number {
  font-weight: 700;
  font-size: 55px;
  line-height: 130%;
  margin-bottom: 35px;
  margin-top: 0px;
}

.buttom-part-list-hero-text {
  font-weight: normal;
  font-size: 19px;
  line-height: 130%;
}
/* END HERO */ ;
